<module>
  <rawname>filestore</rawname>
  <name>Filestore</name>
  <repo>standard</repo>
  <version>17.0.2.14</version>
  <publisher>Sangoma Technologies</publisher>
  <license>AGPLv3</license>
  <licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
  <changelog>
		*17.0.2.14* Packaging of ver 17.0.2.14
	*17.0.2.13 bump 
	*17.0.2* Packaging of ver 17.0.2
	*17.0.1alpha1* Initial release
	</changelog>
  <category>Settings</category>
  <description>Filesystem abstraction for your PBX</description>
  <more-info>https://sangomakb.atlassian.net/wiki/spaces/PG/pages/26640528/Filestore+Module</more-info>
  <menuitems>
    <filestore>Filestore</filestore>
  </menuitems>
  <supported>
    <version>17.0</version>
  </supported>
</module>